__pycache__/
*.py[cod]
*.so
*.egg-info/
.eggs/
build/
dist/
.ipynb_checkpoints/
.env
.venv/
venv/

training/outputs/
evaluation/outputs/
outputs/
checkpoints/
*.bin
*.safetensors
*.pth
*.ckpt
*.npy

data/GQA/
data/ImageNet/
data/ScienceQA/
data/TextVQA/
data/VizWiz/
data/laion_data.jsonl
instructions/

wandb/
*.out
*.err
